.kakaka :hover {
    box-shadow: 2px 2px gray;
    transition: 0.2s;
}

.gogogo :hover {
    box-shadow: 2px 2px gray;
    transition: 0.2s;
}

.signUpBtn :hover {
    box-shadow: 2px 2px gray;
    transition: 0.2s;
}